<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title>Joe Gibbs Politz - Notes</title>
<style>
@import url('{{ site.url }}/highlight.css');
.sidebar li {
  margin-bottom: 1em;
  list-style: none;
}

a {
  text-decoration: none;
  color: #1f1180;
  border-bottom: 1px dotted;
}

a:hover {
  text-decoration: none;
  color:green; 
  background-color:#eee;
}

pre {
  background-color: #eee;
  padding: 1em;
}

</style>
<script type="text/javascript">
  var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-25748313-1']);
      _gaq.push(['_trackPageview']);

       (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();
</script>
</head>

<body>


<div style='min-width: 70em;'>
  <div style='border-right: 1px solid #eee; float:left; padding-left:
5em; padding-right: 2em; font-family: sans-serif; min-width: 40em;
max-width: 40em;'>
  <h1 style='font-family: sans-serif;font-size: 3em; text-align: left;'>
    JOE GIBBS POLITZ &nbsp; <span style='font-weight: 200; color: #aaa;'>NOTES</span>
  </h1>

<div>
  <div style='line-height: 1.5; text-align: justify'>
    {{ content }}
  </div>
</div>
      
  </div>
  <div class='sidebar' style='float: left; text-align: left; font-family: sans-serif; padding-top: 2em; padding-right: 2em; padding-left: 2em; width: 16em;'>
    <div
style='background-color:black;float:left;background-image:url({{site.url}}/img/face.jpg); height:11em;width:11em;background-position:-3em -2em; margin-bottom: 2em;'></div>
    <p>joe@cs.brown.edu</p>
    <p>774.262.5198</p>
    <p>Office 451, <a href="http://g.co/maps/zx79a">CIT</a></p>
    <p>
      <a href='http://brownplt.github.com'>Brown PLT Blog</a>
      <a href='http://brownplt.github.com/feed.xml'>
	      <img src='{{ site.url }}/public/feed-icon-14x14.png'></img>
      </a>
    </p>
    <p>
      <a href='http://github.com/brownplt'>Brown PLT Github</a><br/>
      <a href='http://github.com/jpolitz'>Personal Github</a>
    </p>
<a href="https://plus.google.com/u/0/106201725712570479817"
   rel="author">G+ Profile</a>
     
  <p><a class='sidebar-link' href="{{site.url}}/feed.xml"><b>RSS</b></a></p>

  <p><b>OTHER NOTES</b></p>
  <ul class='previous'>
  {% for post in site.posts %}
    {% if post.title == page.title %}
    <li><a class="thispost" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></li>
    {% else %}
    <li><a class="oldpost" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}
  {% endfor %}
  </ul>
</div>
</div>
</html>
