<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Blog">
<head>
<meta charset="utf-8">
<meta itemprop="name" content="{{ page.title }}">
<meta itemprop="description" content="{{ page.summary }}">
<link rel="icon" type="img/png" href="{{ site.url }}/img/favicon.png"/>
<link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml">

<title>{{ page.title }}</title>
<style>
  @import url('{{ site.url }}/style.css');
  @import url('{{ site.url }}/highlight.css');
</style>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-26990658-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>

<body>


<div id="content">

<div id="graymatter">
<div id="sidebar">
  <div id="header">
    <div>
    <h1>Dirigiblog</h1>
    </div>
  </div>

<div id='sidebar-content'>
  <p><a class='sidebar-link' href="{{site.url}}/feed.xml"><b>RSS</b></a></p>

  <p><b>PREVIOUS POSTS</b></p>
  <ul class='previous'>
  {% for post in site.posts %}
    {% if post.title == page.title %}
    <li><a class="thispost" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></li>
    {% else %}
    <li><a class="oldpost" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}
  {% endfor %}
  </ul>
</div>

</div>

<div id="posts">
  <div id="posts-content">
    {{ content }}
  </div>
</div>

<div style='clear:both'></div>

</div>
</div>

</body>
</html>
